@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
/* Container */
.container {
  /* position: relative; */
  width: 80%;
  /* margin: 50px auto; */
  margin: 10px 25px
}

/* Dropdown Input */
.dropdown-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  position: relative;
}

.dropdown-input:hover {
  border-color: #888;
}

/* Placeholder Text */
.placeholder-text {
  color: #888;
}

/* Selected Text */
.selected-text {
  color: #000;
}

/* Arrow Icon */
.arrow {
  color: #555;
}

/* Dropdown List */
.dropdown-list {
  position: absolute;
  top: 50;
  right: 0;
  /* width: 100%; */
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

/* Search Box */
.search-box {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.search-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

/* Industry List */
.industry-list {
  max-height: 200px;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin: 0;
}

.industry-item {
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.industry-item:hover {
  background: #f2f2f2;
}

